<div class="container mt-5">

    <h1>About Rails Blog</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse commodo,
     nisl sed efficitur ultricies, eros nibh volutpat felis, sed hendrerit nunc massa sed nisl. 
     Proin aliquam vel risus eu rhoncus. Donec sem purus, sagittis non laoreet id, hendrerit consectetur ante. Nunc sollicitudin sed metus et accumsan. Integer euismod, arcu non efficitur condimentum, velit sem tempus elit, gravida gravida erat erat a leo. Donec sed odio dictum, imperdiet leo ut, rhoncus nisl. Vestibulum sit amet faucibus magna. Nulla in lacus non sem gravida fringilla. 
    Etiam malesuada cursus enim sit amet tristique. </p>
</div>